#hero-background {
  height: 650px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/heroBsolar.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#hero-text h2 {
  padding: 275px 0px 0px 0px;
  font-size: 45px;
  color: #fff;
}

.button {
  padding: 10px 85px;
  border: none;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(to right, #d76031 0%, #ecb340 100%);
}

.nav-link {
  --bs-nav-link-color: #8a8a8a !important;
  --bs-nav-link-hover-color: #ecb340;
  border-width: 2px;
  --bs-nav-pills-border-width: 20px;
  text-align: left;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  --bs-nav-pills-link-active-bg: #d76031;
  color: white;
}

#benefits {
  padding: 1em;
  text-align: left;
  height: 500px;
}

#benefits h2 {
  padding: 20px 0px 60px 0px;
  text-align: center;
}

#benefits span {
  color: #ecb340;
}

#systems {
  vertical-align: middle;
  text-align: center;
  background-color: #eee;
  height: 500px;
}

#systems h2 {
  text-align: center;
  padding: 40px 0px 40px 0px;
}

#cards {
  margin-bottom: 30px;
}

#systems span {
  color: #ecb340;
}
#certified {
  padding-top: 50px;
  background-image: url("../images/certifiedTesla.jpeg");
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 600px;
}
#certified .container {
  vertical-align: middle;
}

#certified h2 {
  font-size: 45px;
}

#certified .row {
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

#certified-button {
  margin-top: 15px;
  padding: 10px 85px;
  background-color: #f7ce4d;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

#faqs {
  margin: 40px 0px 40px 0px;
}
#faqs-header {
  text-align: center;
}

#faqs-header h2 {
  font-size: 35px;
  color: #ecb340;
}

.accordion-button {
  --bs-accordion-btn-color: #ecb340;
  --bs-accordion-active-color: #ecb340;
  --bs-accordion-active-bg: #fff;
  --bs-accordion-btn-bg: #eeeeee;
}

#contact-us {
  background: linear-gradient(to right, #ecb340 0%, #d76031 100%);
  text-align: center;
  padding: 30px 0px 60px 0px;
}

#contact-us h2 {
  padding-bottom: 20px;
  font-size: 35px;
  color: white;
}

#form-container {
  padding: 20px 20px;
  background-color: white;
  box-shadow: 3px 3px 20px #312723;
  border-radius: 5px;
}

#contact-us h6 {
  color: #ecb340;
  padding-bottom: 15px;
}

#contact-us .row {
  justify-content: space-between;
}

#contact-me {
  margin-top: 15px;
  padding: 10px 85px;
  background-color: #ecb340;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.form-floating {
  color: rgb(127, 125, 125);
  border-color: #f7ce4d;
}

#footer {
  text-align: center;
  padding: 3em 1em;
}

#footer .row {
  justify-content: space-around;
}

#footer h4 {
  color: rgb(96, 95, 95);
}
