html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Lato", sans-serif;
}

#hero-background {
  width: 100%;
  /* position: absolute; */
  height: 650px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/heroBsolar.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#hero-text h1 {
  padding: 275px 0px 10px 0px;
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}

.navbar {
  border: 0;
  --bs-offcanvas-color: white;
}

#navbar-logo {
  transform: scale(1) perspective(1px);
  transition: 0.6s ease-in-out;
}

#navbar-logo:hover {
  transform: scale(1.1) perspective(1px);
  transition: 0.6s ease-in-out;
}

.button {
  margin-top: 20px;
  padding: 10px 85px;
  border: none;
  color: #fff;
  border-radius: 50px;
  background: linear-gradient(to right, #d76031 0%, #ecb340 100%);
  transform: scale(1) perspective(1px);
  transition: 0.6s ease-in-out;
  font-family: "Lato", sans-serif;
}

.button:hover {
  /* background: linear-gradient(to right, #fff 0%, #fff 0%);
  color: #d76031;
  transition: 0.7s ease;
  border: 2px solid #d76031; */
  transform: scale(1.1) perspective(1px);
  transition: 0.6s ease-in-out;
}

.nav-pills .nav-link {
  --bs-nav-link-color: #8a8a8a !important;
  --bs-nav-link-hover-color: #ecb340;
  --bs-nav-link-border-color: red;
  text-align: left;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  --bs-nav-pills-link-active-bg: #d76031;
  color: white;
}

#benefits {
  padding: 5em 0em 5em 0em;
  text-align: left;
  height: min-content;
  min-height: fit-content;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #8a8a8a;
}

#benefits h2 {
  padding: 0px 0px 60px 0px;
  text-align: center;
}

#benefits span {
  color: #ecb340;
}

#benefits .row {
  justify-content: space-around;
}

#v-pills-home,
#v-pills-payment,
#v-pills-profile,
#v-pills-bill,
#v-pills-messages,
#v-pills-settings,
#v-pills-impact {
  padding-top: 5em;
  text-align: justify;
  vertical-align: middle;
  align-items: center;
  padding-left: 60px;
  color: #8a8a8a;
}

#systems {
  position: relative;
  vertical-align: middle;
  text-align: center;
  background-color: #eee;
  height: min-content;
  padding: 3em 0em;
  color: #8a8a8a;
}

#systems h2 {
  text-align: center;
  padding: 10px 0px 40px 0px;
}

#cards {
  padding-bottom: 30px;
}

#card-1,
#card-2,
#card-3,
#card-4 {
  transform: scale(1) perspective(1px);
  transition: 0.6s ease-in-out;
}

#card-1:hover,
#card-2:hover,
#card-3:hover,
#card-4:hover {
  transform: scale(1.05) perspective(1px);
  transition: 0.6s ease-in-out;
}

#systems span {
  color: #ecb340;
}
#certified {
  display: flex;
  padding: 4em 0em;
  background-image: url(images/certifiedTesla.jpeg);
  background-position: center;
  background-size: cover;
  color: #fff;
  height: min-content;
  min-height: fit-content;
  align-items: center;
}
#certified .container {
  vertical-align: middle;
}

#certified h2 {
  font-size: 45px;
}

#certified .row {
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

#property-1,
#property-2,
#property-3 {
  padding-top: 1.5em;
  transform: scale(1) perspective(1px);
  transition: 0.6s ease-in-out;
}

#property-1:hover,
#property-2:hover,
#property-3:hover {
  transform: scale(1.03) perspective(1px);
  transition: 0.6s ease-in-out;
}

#certified-button {
  margin-top: 50px;
  padding: 10px 85px;
  background-color: #f7ce4d;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  font-family: "Lato", sans-serif;
}

#certified-button:hover {
  background-color: #fff;
  color: #f7ce4d;
  transition: 0.5s ease;
}

#faqs {
  padding: 70px 0px 70px 0px;
  color: #8a8a8a;
}
#faqs-header {
  text-align: center;
}

#faqs-header h2 {
  padding: 0px 0px 10px 0px;
  font-size: 35px;
  color: #ecb340;
  font-family: "Lato", sans-serif;
}

.accordion-button {
  --bs-accordion-btn-color: #ecb340;
  --bs-accordion-active-color: #ecb340;
  --bs-accordion-active-bg: #fff;
  --bs-accordion-btn-bg: #eeeeee;
}

.accordion-body {
  color: #8a8a8a;
  font-family: "Lato", sans-serif;
}

#contact-us {
  background: linear-gradient(to right, #ecb340 0%, #d76031 100%);
  text-align: center;
  padding: 30px 0px 60px 0px;
}

#contact-us h2 {
  padding-bottom: 20px;
  font-size: 35px;
  color: white;
}

#form-container {
  padding: 20px 20px;
  background-color: white;
  box-shadow: 3px 3px 20px #312723;
  border-radius: 5px;
}

#contact-us h6 {
  color: #ecb340;
  padding-bottom: 15px;
}

#contact-us .row {
  justify-content: space-between;
}

#contact-me {
  margin-top: 15px;
  padding: 10px 85px;
  background-color: #ecb340;
  border: none;
  border-radius: 50px;
  border-color: #fff;
  border: solid;
  border-width: 2px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  font-family: "Lato", sans-serif;
}

#contact-me:hover {
  background-color: #fff;
  color: #f7ce4d;
  transition: 0.5s ease;
  border: solid;
  border-width: 2px;
  border-color: #f7ce4d;
}

.form-floating {
  color: rgb(127, 125, 125);
  border-color: #f7ce4d;
}

#footer {
  text-align: center;
  padding: 3em 1em;
}

#footer .row {
  justify-content: space-around;
}

#footer h4 {
  color: #8a8a8a;
}
